@model IEnumerable<IshtiaqComsats.Models.Person1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.personId }) |
            @Html.ActionLink("Details", "Details", new { id=item.personId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.personId })
        </td>
    </tr>
}

</table>
